<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>To find product just add /find and name of product. example find/Awesome Fog Tech or just click the Product itself</p>
      </div>
    </div>
    <div class="ta03container">


      <% for (let datas of data) { %>

        <a href="/teamactivities/ta03/find/<%=datas.name%>">
        <div class="ta03-c">
        <img src="<%= datas.imageUrl %>" alt="<%= datas.tags %>" >
        <span class="price">$<%= datas.price %></span>
        <span class="title"><%= datas.name %></span>
        <p class="price">$<%= datas.description %></p>
      </div>
      </a>

    <%}%>

     
    </div>


</body>

</html>